@charset "utf-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  /* Color */
  --color-white: #fff;
  --color-black: #140a00;
  --color-grey-dark: #909090;
  --color-grey-light: #e0e0e0;
  --color-pink: #f9c1c1;
  --color-pink-light: #f2d9d9;
  --color-blue: #b5e8ff;
  --color-blue-light: #e7f3fe;
  --color-lime: #bcffb5;
}
body {
  line-height: 1;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button,
button:focus {
  border: none;
  cursor: pointer;
  outline: none;
}
