/* sudoku container */
.container {
  background-color: var(--color-pink-light);
  padding: 30px;
}
table {
  border: 2px solid var(--color-black);
  margin: auto;
  background-color: var(--color-white);
}
tr {
}
tr:nth-child(3n + 1) {
  border-top: 2px solid var(--color-black);
}
td {
  width: 50px;
  height: 50px;
  text-align: center;
  border: 1px solid var(--color-black);
}
td:nth-child(3n + 1) {
  border-left: 2px solid var(--color-black);
}

/* button area */
.btn-area {
  text-align: center;
  margin-top: 20px;
}
.btn-area button {
  width: 47px;
  height: 47px;
  border-radius: 5px;
}
